numpy
tensorflow
tensorflow-hub
Pillow
matplotlib
fastapi
uvicorn[standard]
python-multipart
rembg
opencv-python
pydantic
gunicorn
onnxruntime
aiofiles
python-jose[cryptography]
aioredis
starlette
asyncio
